*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
}
body{
    background-color: #CCCCCC;
}

#nav-bar{
    background-color: #0F1111;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    background-image: url("Image/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 113px;
    /* margin-left: 20px; */  
}

.border{
    border: solid 1px transparent;
}

.border:hover{
    border: solid 1px white;
}

/* address box */

.add-icon{
    display: flex;
}
.location{
    padding-left: 20px;
    padding-top: 15px;
    
}

.deliver-status{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.address{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 3px;
    
}

/* box3 search bar */
.nav-search{
    display: flex;
    color: #0F1111;
    border: solid 5px transparent;
}

.nav-search:hover{
    border: solid 4px rgba(255, 123, 0, 0.782);
    border-radius: 10px;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 123, 0, 0.782);
    width: 45px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.2rem;
}
.search-select{
    border: none;
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1rem;
}

.search-input{
    width: 500px;
    font-size: 1rem;
    border: none;
}

/* box4 Account */
.nav-signin{
    color: #f3f3f3;
    font-size: 12px;
    font-weight: 400;
}

.nav-account-and-lists{
    color: #f3f3f3;
    font-size: 14px;
    font-weight: 700;
}

/* box6 Cart */

.nav-cart{
    display: flex;
    font-size: 28px;
}

.nav-cart p{
    margin-top: 15px;
}

/* Panel */

#panel{
    background-color: #232f3e;
    color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
}

/* panel box2 panel bar */
.panel-bar{
    width: 70%;
}

.panel-bar p{
    display: inline;
    margin-left: 15px;
    font-weight: 100;
}

/* Hero section */
#hero-section{
    background-image: url("Image/hero_image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

/* Shop section */

#shop-section-row-1{
    display: flex;
    justify-content: space-evenly;

}

.box{
    background-color:white;
    width: 320px;
    height: 400px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;    
}





    




h2{
    font-size: 20px;
}

.row-1{
    display: flex;
    position: relative;
    top: 40px;
    right: 20px;
}
.img-1{
    padding-left: 13px;
}
.img-2{
    padding-left: 13px;
}
    
img{
    width: 150px;
    height: 100px;
}

.img p{
    font-size: 14px;
    margin-left: 20px;
}

.row-2{
    display: flex;
    position: relative;
    top: 80px;
    right: 20px;
}
.box-footer a{
    position: relative;
    z-index: 1;
    top: 100px;
    font-size: 15px;
    text-decoration: none;
    color: #007185;
}
.box-footer a:hover{
    color:chocolate;
    text-decoration: underline;
}

#shop-section-row-2{
    display: flex;
    justify-content: space-evenly;
}

.photos img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
}
.anchor {
    margin-top: 20px;
    >a{
    font-size: 15px;
    text-decoration: none;
    color: #007185;
    }
}
.anchor a:hover{
    color:chocolate;
    text-decoration: underline;
}


/* Footer Section */

.back-to-top{
    background-color: #232f3e;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    >a{
        color: white;     
        text-decoration: none;  
        font-size: 14px;
    }
}


h3{
    color: white;
    font-size: 16px;
    line-height: 2;
}
.footer-nav{
    background-color: #192134;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
}
.footer-nav-col{
   
    padding-top: 50px;
    padding-left: 10px;

    >ul>li>a{
        color: #DDDDDD;
        font-size: 14px;
        line-height: 2;
        text-decoration: none;
    }
}

.footer-logo{
    background-color: #192134;
    height: 100px;
    border-top: solid 1px #DDDDDD; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.amazon-logo{
    background-image: url(/Image/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 113px;
}

.footer-end{
    background-color: black;
    height:100px;
    text-align: center;
    padding-top: 50px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.footer-privacy a{
    color: #DDDDDD;
    text-decoration: none;
    font-size: 13px;   
}

.copyright{
    color: #DDDDDD;
    font-size: 13px;
    padding-top: 10px;
}

